.about{
    text-decoration: none;
    margin-top:8px;
    font-weight: 547;
    color: grey;
    padding: 5px;
}

 .userName{
    color: white;
 }
 .navStyle{
     
     margin-left: 12px;
     margin-right: 12px;
 }